sudo: false
language: python
python:
    - "2.7"
    - "3.6"
install:
  - pip install tox-travis
services:
  - redis-server
  - rabbitmq
script:
  - tox
  - pip install .
  - pip install -r requirements.txt
  - DJANGO_SETTINGS_MODULE=example_project.settings_client python example_project/manage.py test rpc_client.tests.celery_tests
