sudo: false
language: python
python:
    - "2.7"
    - "3.6"
install:
  - pip install tox-travis
  - pip install .
  - pip install -r requirements_test.txt
  - bash -c "echo 'import rpc_client.tests;print 123' | DJANGO_SETTINGS_MODULE=example_project.settings_client example_project/manage.py shell"
# services:
  #- redis-server
  # - rabbitmq
script:
  - DJANGO_SETTINGS_MODULE=example_project.settings_client python example_project/manage.py test example_project.rpc_client.tests.celery_tests
  # - tox
